@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color:#c9d2ed80;
    }
.card{
       margin: 4% 0;

}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>List of websites build with php, ReactJs and .NET Core</p>
</div>
<div class="cards col-md-12">
    <div class="card col-md-12 col-sm-12 col-xs-12" style="">
        <img class="card-img-top" src="~/img/library.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Library Management System</h5>
            <p class="card-text">With authentication,CRUDs, responsive and admin dashboard. Build with .NET core, data stored with  Microsoft SQL Server</p>
            <a href="https://github.com/florentinaar/LibraryManagementSystem" class="btn btn-primary">Go to page</a>
        </div>
    </div>
    <div class="card col-md-12 col-sm-12 col-xs-12" style="">
        <img class="card-img-top" src="~/img/restaurant.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">PACS(Restaurant Page)</h5>
            <p class="card-text">With authentication, responsive and admin dashboard. Build with php, data stored with phpmyadmin</p>
            <a href="https://github.com/florentinaar/RestaurantWeb" class="btn btn-primary">Go to page</a>
        </div>
    </div>
    <div class="card col-md-12 col-sm-12 col-xs-12" style="">
        <img class="card-img-top" src="~/img/euroex.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">EuroEx</h5>
            <p class="card-text">With authentication,CRUDs, responsive and admin dashboard. Build with .net, data stored with Microsoft SQL Servers</p>
            <a href="https://github.com/florentinaar/EuroExp" class="btn btn-primary">Go to page</a>
        </div>
    </div>

      <div class="card col-md-12 col-sm-12 col-xs-12" style="">
        @*<img class="card-img-top" src="~/img/" alt="Card image cap">*@
        <div class="card-body">
            <h5 class="card-title">Cinema</h5>
            <p class="card-text">With authentication,CRUDs, responsive. Build with React JS and .NET Core API data stored with Microsoft SQL Servers</p>
            <a href="https://github.com/florentinaar/Cinema" class="btn btn-primary">Go to page</a>
        </div>
    </div>
</div>


